{% extends "shiftleader/shiftleader_base.html" %}

{% block main %}

<h2>{{ shift }}</h2>
<h4>Shift Details:</h4>
<div class="line-items">
  <div>
    <span>Role:</span>
    {{ shift.role }}
  </div>
  <div>
    <span>Address: </span>
    {{ shift.address }}
  </div>
  <div>
    <span>Starts:</span>
    {{ shift.start }}
  </div>
  <div>
    <span>Ends:</span>
    {{ shift.end }}
  </div>
  <div>
    <span>Pays:</span>
    {{ shift.pays }}
  </div>
</div>

<br />

<h4>Candidates</h4>
<form method="POST" action="">
  {% csrf_token %}
  <table class="candidate-table">
    <tr>
      <th>Select</th>
      <th>Score</th>
      <th>Contractor</th>
    </tr>
    {% for candidate in candidates %}
    <tr>
      <td><input type="checkbox" name="standby" value="{{candidate.contractor.id}}" /></td>
      <td>{{candidate.score}}%</td>
      <td>{{candidate.contractor}}</td>
    </tr>
    {% endfor %}
  </table>

  <br />
  <input type="submit" value="Submit Assignments" />
</form>


{% endblock main %}
