{% extends "clientmanager/clientmanager_base.html" %}

{% block extra_head %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/modal.css" />
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/edit_job.css" />
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/smoothness/jquery-ui-1.8.20.custom.css" />
<script type="text/javascript" src="{{STATIC_URL}}js/googlemaps_widget.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.simplemodal.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.8.20.custom.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-timepicker-addon.js"></script> 
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.toObject.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/form2js.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/edit_job.js"></script>
{% endblock %}

{% block main %}
<h2>Editing Job: {{ job_title }}</h2>
<p>
  Click a box below to edit its contents.
</p>

<div class="toggle-able shift-aligned">
  <div><h4>Basic Job Info</h4></div>
  <form id="basic-form">
    {% for field in job_form %}
    <div>
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %}
  </form>
</div>

<div>
  <div>
    {% for shift in existing_shifts %}
    <div class="toggle-able shift-aligned job-shift">		
      <div class="shift-title">
	<span>Shift: {{ shift.title }}</span>
	<a class="deletelink" href="javascript:void(0)">delete</a>
      </div>
      {% include "clientmanager/shift_form.html" with form=shift.form role_forms=role_forms %}
    </div>
    {% endfor %}
  </div>

  <div class="toggle-able shift-aligned new-shift">
    <div class="shift-title">
      <span>Add a Shift</span>
      <a class="deletelink" style="visibility: hidden" href="javascript:void(0)">delete</a>
    </div>
    {% include "clientmanager/shift_form.html" with form=empty_shift roles=roles %}
  </div>
</div>

<div>
  <input id="save-job" type="submit" value="Save Job and Shifts" />
</div>
{% endblock %}
