{% extends "base.html" %}
{% load user_tags %}

{% block extra_head %}
<script type="text/javascript">
  nav_set("{{page_info.section}}", "{{page_info.page}}");
</script>
{% endblock %}

{% block meta_title %} {{page_info.title}} {% endblock %}
{% block title %} {{page_info.title}} {% endblock %}

{% block nav %}
<ul class="unstyled tree-menu-level-0">
  <li class="first">
    <a href="/">Home</a>
  </li>
  {% if user|in_group:"clientmanager" %}
  <li id="clientmanager-nav">
    <a href="/client-manager/">Client Manager</a>
    <ul class="unstyled tree-menu-level-1">
      <li id="job_new-nav" class="first">
        <a href="/client-manager/job/new/">Create Job</a>
      </li>
      <li id="job_open-nav" class="first">
        <a href="/client-manager/job/open/">Update Job</a>
      </li>
    </ul>
  </li>
  {% endif %}
  {% if user|in_group:"shiftleader" %}
  <li id="shiftleader-nav">
    <a href="/shift-leader/">Shift Leader
    <ul class="unstyled tree-menu-level-1">
      <li id="openjobs_list-nav" class="first">
        <a href="/shift-leader/open-jobs">All Open Jobs</a>
      </li>
      <li id="openjobs_calendar-nav">
        <a href="/shift-leader/open-jobs/calendar/">Calendar View</a>
      </li>
      <li id="openjobs_gantt-nav">
        <a href="/shift-leader/open-jobs/gantt/">Gantt Chart</a>
      </li>
      <li id="contractors_search-nav">
        <a href="/shift-leader/contractors/search/">Search Contractors</a>
      </li>
      <li id="pending_jobs-nav">
        <a href="/shift-leader/pending-jobs/">Pending Jobs</a>
      </li>
      <li id="completed_jobs-nav">
        <a href="/shift-leader/completed-jobs/">Completed Jobs</a>
      </li>
    </ul>
  </li>
  {% endif %}
  {% if user|in_group:"talentmanager" %}
  <li id="talentmanager-nav">
    <a href="/talent-manager/">Talent Manager</a>
  </li>
  {% endif %}
</ul>
{% endblock %}

{% block main %}
{{ page_info }}
{% endblock main %}
